<div class="header-background px-1 pt-2 pb-0">
  <nav class="p-1 pb-0 w-100 navbar navbar-expand-lg">
    <a class="navbar-brand" href="/" class="flex d-lg-none">
      <img class="h-8" src="../../../assets/img/logo-noText.png">
    </a>
    <button class="navbar-toggler text-white" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed"  class="collapse navbar-collapse">
    <ul ngbNav #nav="ngbNav" [activeId]="0" class="navbar-nav nav-tabs border-transparent justify-content-center w-100">
      <li [ngbNavItem]="1">
        <a ngbNavLink routerLink="/acasa" routerLinkActive="active" (click)="isMenuCollapsed = true">Acasa</a>
      </li>
      <li [ngbNavItem]="2" ngbDropdown class="nav-item">
        <a ngbNavLink routerLink="/produse" routerLinkActive="active" ngbDropdownToggle>Produse</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem>Case de marcat</button>
          <button ngbDropdownItem>Imprimante</button>
          <button ngbDropdownItem>Cantare</button>
          <button ngbDropdownItem>Consumabile</button>
          <button ngbDropdownItem>Cititoare coduri de bare</button>
          <button ngbDropdownItem>Monitoare sisteme POS</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>Solutii pentru vanzare si gestiune</button>
        </div>
      </li>
      <li [ngbNavItem]="3" ngbDropdown class="nav-item">
        <a ngbNavLink routerLink="/servicii" routerLinkActive="active"  ngbDropdownToggle>Servicii</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem>Fiscalizare</button>
          <button ngbDropdownItem>Instalari echipamente</button>
          <button ngbDropdownItem>Instruire personal</button>
          <button ngbDropdownItem>Intocmire dosar fiscal</button>
          <button ngbDropdownItem>Mentenanta</button>
        </div>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink routerLink="/utile" routerLinkActive="active" (click)="isMenuCollapsed = true">Info Utile</a>
      </li>
      <li [ngbNavItem]="5">
        <a ngbNavLink routerLink="/despre" routerLinkActive="active" (click)="isMenuCollapsed = true">Despre Noi</a>
      </li>
      <li [ngbNavItem]="6">
        <a ngbNavLink routerLink="/contact" routerLinkActive="active" (click)="isMenuCollapsed = true">Contact</a>
      </li>
      <li [ngbNavItem]="7" class="mx-auto d-none d-sm-none d-md-none d-lg-block d-xl-block">
        <a href="/" class="-ml-64 flex" (click)="isMenuCollapsed = true">
          <img class="h-10" src="../../../assets/img/logo-noText.png">
        </a>
      </li>
      <!-- <li ngbNavItem [disabled]="true" class="ml-auto">
        <a ngbNavLink></a> 
      </li> -->
    </ul>
  </div>     
  </nav>
</div>
<div class="h-3 w-full bg-gradient-navy"> </div>