.bg-gradient-navy{
    background: linear-gradient(180deg, rgba(42,67,101,1) 0%, rgba(42,67,101,1) 71%, rgba(27,29,29,0.2777485994397759) 88%);
}

a{
    color: white;
}

a.active{
    color: black;
    font-weight: bold;
}