    <div class="max-w-sm rounded overflow-hidden shadow-lg m-4 ">

        <div class="flex justify-between">
            <ngb-carousel #carousel [interval]="1000" [pauseOnHover]="true" [interval]="5000"
                (slide)="onSlide($event)">
                <ng-template ngbSlide *ngFor="let img of product.images; index as i">
                    <div class="carousel-caption">
                        <h3>Success M4</h3>
                    </div>
                    <a target="_blank" rel="nofollow noopener noreferrer">
                        <div class="picsum-img-wrapper">
                            <img [src]="img" alt="My image {{i + 1}} description" class="">
                        </div>
                    </a>
                </ng-template>
            </ngb-carousel>
        </div>

        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
            <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                perferendis eaque, exercitationem praesentium nihil.
            </p>
        </div>
        <div class="px-6 py-4">
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
        </div>
    </div>